.nav1{
    height:14vh;
    width:90vw;
    background-color:rgba(17, 232, 38, 0.623);
    border-radius:17px;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 3vw;
    position: absolute;
    top: 3vh;
    margin:0.5vh 5vw 0vh 4vw;
}
.list1{
   display: flex;
   gap: 5vw;
   padding: 0vh 0vw 0vh 33vw;
   list-style: none;
   font-family: Arial, Helvetica, sans-serif;
}
.button1{
    height: 20vh;
    width:15vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}
.heading1{
    margin-left: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}
.div6{
    height:100vh;
    Width: 98vw;
    background-color: rgb(47, 255, 241);
    display: flex;
}
.subdiv8{
    height:55vh;
    width:78vw;
    background-color: beige;
    position: absolute;
    top: 35vh;
    left:10vw;
}
.img11{
    height:55vh;
    width: 22vw;
}
.head10{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2vh;
    left: 23vw;
}
.head11{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20vh 0vw 0vh 0vw;
    position: absolute;
    top:0vh;
    left:23vw;
}
.para10{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10vh;
    position: absolute;
    top:22vh;
    left: 23vw;
}